//Estilos para los botones de revelar y reiniciar
.votes {
  &__button {
    position: absolute;
    top: 35%;
    left: 35%;
    height: 30px;
    width: 110px;
    padding: 0px 10px;
    font-size: 10px;
    border-radius: 50px;
    background: #6429cd;
    color: white;
    cursor: pointer;

    @media (min-width: 425px) {
      left: 37%;
    }

    @media (min-width: 768px) {
      height: 40px;
      width: 200px;
      padding: 10px 24px;
      font-size: 18px;
      top: 37%;
      left: 38%;
    }

    @media (min-width: 1024px) {
      top: 40%;
      left: 40%;
    }

    @media (min-width: 1440px) {
      top: 43%;
      left: 43%;
    }

    @media (min-width: 1920px) {
      top: 45%;
      left: 45%;
    }

    &:hover {
      transition: ease-in-out 0.3s;
      transform: scale(1.1);
    }
  }

  &__waiting {
    display: flex;
    position: absolute;
    left: 31%;
    top: 40%;
    gap: 5px;
    width: 200px;
    height: 200px;

    &-circle {
      border: 6px solid #6429cd;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.4s;

      &:nth-child(1) {
        animation-name: moveOne;
      }

      &:nth-child(2) {
        animation-name: moveTwo;
      }

      &:nth-child(3) {
        animation-name: moveThree;
      }

      &:nth-child(4) {
        animation-name: moveFour;
      }
    }
  }
}

@keyframes moveOne {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(160px);
  }
}

@keyframes moveTwo {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
  75% {
    transform: translateX(160px);
  }
}

@keyframes moveThree {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-60px);
  }
  75% {
    transform: translateX(-160px);
  }
}

@keyframes moveFour {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-160px);
  }
}

//Estilos para el nombre del admin corto

.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-compact {
    padding: 15px;
    border-radius: 100px;
    background: #bdbdff;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    color: #330072;
    text-transform: uppercase;
    margin-top: 30px;
  }

  &-name {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 2px;
  }
}

//Estilos para las cards que se cuentan
.prueba {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(0, 136, 255);
}

.estatico {
  width: 100vw;
  height: 35vh;
  background-color: #bb65ff;

}
.count__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: auto;
  background-color: rgb(0, 255, 42);
  width: 100vw;
  height: 100%;
}

.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 90px;
  border-radius: 7px;
  border: 1px solid #6429cd;
  box-shadow:
    0px 0px 6px 0px rgba(189, 189, 255, 0.6) inset,
    0px 5px 10px 0px rgba(100, 41, 205, 0.6);
  animation: fadeBorder 2s ease-in;

  &__value {
    color: #fff;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 29.4px */
    animation: fadeText 2s ease-in;
  }

  &__count {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    animation: fadeText 2s ease-in;
  }
}

.selected-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 60px;
  border-radius: 7px;
  border: 1px solid #bb65ff;
  background: #bb65ff;
  color: #bb65ff;

  /* inner + shadow/04 */
  box-shadow:
    0px 0px 6px 0px rgba(189, 189, 255, 0.6) inset,
    0px 5px 10px 0px rgba(100, 41, 205, 0.6);
}

// Estilo para cuando la carta está revelada
.revealed-style {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  background-color: transparent;
}

// Estilos personalizados para cada carta basados en las clases generadas
.card-0 {
  position: absolute;
  left: 29%;
  top: 39.1%;
}

.card-1 {
  position: absolute;
  left: 39.1%;
  top: 61%;
}

.card-2 {
  position: absolute;
  position: absolute;
  left: 59.1%;
  top: 61%;
}

.card-3 {
  position: absolute;
  left: 70%;
  top: 39.1%;
}

.card-4 {
  position: absolute;
  left: 59.1%;
  top: 12%;
}

.card-5 {
  position: absolute;
  left: 49.1%;
  top: 12%;
}

.card-6 {
  position: absolute;
  left: 39.1%;
  top: 12%;
}

//Estilos para el promedio

.average {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  &__text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    animation: fadeText 2s ease-in;
  }

  &__value {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 36px */
    animation: fadeText 2s ease-in;
  }
}

//Animaciones

@keyframes fadeBorder {
  0% {
    opacity: 0;
    border: transparent;
    transform: translateY(-20px);
  }

  50% {
    box-shadow:
      0px 0px 6px 0px rgba(245, 245, 245, 0.6) inset,
      0px 5px 10px 0px rgba(255, 255, 255, 0.6);
    border: 1px solid #ffffff;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeText {
  0% {
    opacity: 0;
    color: transparent;
    transform: translateY(-20px);
  }

  /* 50% {
    color: transparent;

  } */

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
