<form class="form" [formGroup]="formRegister">
  <app-logo [style]="'form__img'" routerLink="" ></app-logo>
  <section class="form__field">
    <label class="form__label">Correo</label>
    <app-input>
      <input
        type="email"
        class="form__input"
        formControlName="email"
        placeholder="ingrese su correo"
      />
    </app-input>
  </section>
  <section class="form__field">
    <label class="form__label">Contraseña</label>
    <app-input>
      <input
        type="password"
        class="form__input"
        formControlName="password"
        placeholder="ingrese su contraseña"
      />
    </app-input>
  </section>
  <button (click)="registerWithEmailAndPassword(formRegister)" >Registrarse</button>
</form>

<!-- <app-button (click)="registerWithEmailAndPassword(formRegister)" [style]="'register'" class="form__button">
  <span >Registrarse</span>
</app-button> -->


