
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$planning-poker-v2-primary: mat.define-palette(mat.$indigo-palette);
$planning-poker-v2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$planning-poker-v2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$planning-poker-v2-theme: mat.define-light-theme((
  color: (
    primary: $planning-poker-v2-primary,
    accent: $planning-poker-v2-accent,
    warn: $planning-poker-v2-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($planning-poker-v2-theme);

@import "assets/sass/abstracts/variables";
@import "assets/sass/base/reset";
@import "assets/sass/abstracts/mixins";


body {
  @include flex;
  background-image: radial-gradient(circle, #260852, #260951, #250951, #250a50, #250a4f, #240b4d, #240c4a, #230d48, #220e43, #210f3e, #1f103a, #1e1135);
}

html, body { height: 100%; }
body { margin: 0; font-family:$font; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
