<form class="form" [formGroup]="formLogin">
  <app-logo [style]="'form__img'" routerLink=""></app-logo>
  <app-button-google (click)="loginWithGoogle()"></app-button-google>

  <section class="form__field">
    <label class="form__label">Correo</label>
    <app-input>
      <input type="email" class="form__input" formControlName="email" />
    </app-input>
  </section>

  <section class="form__field">
    <label class="form__label">Contraseña</label>
    <app-input>
      <input type="password" class="form__input" formControlName="password" />
    </app-input>
  </section>
  <button class="form__button" (click)="loginWithEmailAndPassword(formLogin)">Iniciar sesión</button>
</form>
<!-- <app-button [style]="'register'" class="form__button">
  <span (click)="loginWithEmailAndPassword(formLogin)">Iniciar sesión</span>
</app-button> -->
